* {
  margin: 0;
  padding: 0;
}


/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;

}

.dang-nhap {
  width: 100%;
  height: 40px;
  background-color: #5cdb95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.khung-dang-nhap {
  width: 1300px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login,
.signup {
  width: 100px;
  height: 30px;
  margin: 5px;
  background-color: #05386b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  background: #5cdb95;
  color: black;
  list-style-type: none;
  text-align: center;
  margin-top: 1px;
}

li {
  color: black;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

.bigger {
  width: 200px;
}

.menu a {
  text-decoration: none;
  color: #05386b;
  display: block;
  font-weight: bold;
}
.login a {
  text-decoration: none;
  color: white;
  display: block;
}
.signup a {
  text-decoration: none;
  color: white;
  display: block;
}
.menu a:hover {
  background: #05386b;
  color: white;
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
}

.menu li {
  position: relative;
}

.menu li:hover .sub-menu {
  display: block;
  background-color: #5cdb95;
  box-shadow: 5px 5px 10px grey;
}

.sub-menu li {
  margin-left: 0 !important;
  display: block;
  width: 300px;
  text-align: left;

}

.sub-menu a {
  padding-left: 5px;
}

.phan-headline {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  background-color: #379683;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.logo-ub {
  width: 100px;
  height: 100px;
}

.headline {
  width: 800px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
}



.phan-carousel {
  margin: 0;
  padding: 0;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: white;
}

.phan-noi-dung {
  margin: 0;
  padding: 0;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.phan-bang-noi-dung {
  width: 800px;
  height: 500px;
  background: #8ee4af;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.noi-dung-trai {
  width: 340px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ten-bang {
  width: 340px;
  height: 50px;
  display: flex;
  align-items: center;
font-weight: bolder;
font-size: x-large;
  color: #05386b;
}

.hinh-anh {
  width: 340px;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: center;

}

.hinh-anh-trai {
  width: 340px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tieu-de {
  width: 340px;
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;

  color: #05386b;
  font-weight: bold;
  font-size: larger;
}
.link-blue {
  text-decoration: none;
  color:#05386b;
  display: block;

}
.link-none {
  text-decoration: none;
  color: black;
  display: block;
}
.link-normal {
  text-decoration: none;
  color: black;
  display: block;

}
.chu-thich {
  width: 340px;
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  color: black;
}

.noi-dung-giua {
  width: 220px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giong-ten-bang {
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;

  color: #05386b;
  font-weight: bold;
  font-size: larger;
}

.giua-tren {
  width: 220px;
  height: 225px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


}

.giua-tren-hinh {
  width: 220px;
  height: 180px;

}

.giua-tren-hinh img {
  width: 220px;
  height: 180px;
}

.giua-tren-tieu-de {
  width: 220px;
  height: 35px;
  display: flex;

  color: #05386b;
  font-weight: bold;
}

.giua-duoi {
  width: 220px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

.noi-dung-phai {
  width: 220px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phan-duoi {
  width: 100%;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bang-hinh {
  width: 800px;
  height: 240px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bang-hinh img {
  width: 260px;
  height: 240px;

}

.footer {
  width: 100%;
  height: 150px;
  background-color: #379683;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  width: 1000px;
  height: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dia-chi {
  width: 450px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
  color: white
}


/*CSS cho Trang 2 bắt đầu*/
.noi-dung-trang-2 {
  width: 100%;
  height: 2000px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gioi-thieu {
  width: 1000px;
  height: 1990px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-bar {
  width: 300px;
  height: 1990px;
  background-color:#8ee4af;
color: #05386b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px grey
}

.content {
  width: 670px;
  height: 1990px;
  background-color: #edf5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 5px 5px 10px grey
}

.muc-gioi-thieu {
  width: 290px;
  height: 1970px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  box-sizing: border-box;
}

.box {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
  align-items: center;

  margin-bottom: 5px;
  flex-wrap: wrap;
  font-weight: bold;
}

.box-main {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: larger;
}



.muc-content {
  width: 660px;
  height: 1970px;

  padding: 5px;
  box-sizing: border-box;
}

.content-headline {
  width: 650px;
  height: 100px;

  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
}

.content-text {
  width: 650px;
  height: 1855px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

/*CSS cho Trang 2 kết thúc*/
/*CSS cho Trang 3,4 bắt đầu*/
.content-headline-3 {
  width: 650px;
  height: 50px;

  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.sub-headline {
  width: 650px;
  height: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  font-size: large;
}

.tac-gia {
  width: 650px;
  height: 20px;
  color: grey;

  font-size: 15px;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*CSS cho Trang 3,4 kết thúc*/
/*CSS cho Trang 5 bắt đầu*/
.content-headline-5 {
  width: 650px;
  height: 200px;

  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hinh-5 {
  width: 320px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hinh-5 img {
  width: 320px;
  height: 200px;
}

.content-5 {
  width: 310px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tieu-de-5 {
  width: 310px;
  height: 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
}

.tac-gia-5 {
  width: 310px;
  height: 25px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: italic;
  color: grey;
}

.chu-thich-5 {
  width: 310px;
  height: 115px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
}

.hinh-content-text {
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lien-he-text {
  width: 650px;
  height: 1855px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;


}

.content-7 {
  width: 100%;
  height: 725px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-box-7 {
  width: 1000px;
  height: 705px;
  background-color: #8ee4af;
}

.tieu-de-content-box-7 {
  width: 1000px;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
margin-bottom: -10px;
  font-weight: bolder;
  font-size: xx-large;
  color:#05386b
}

.muc-phan-anh {
  width: 980px;
  height: 205px;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
}

h2 {
  width: 980px;
  height: 50px;
  padding: 5px 0 0 5px;
  line-height: 45px;
  border-bottom: 1px solid lightgray;
}

p {
  width: 980px;
  height: 50px;
  padding: 5px 0 0 5px;
  line-height: 45px;
}

select {
  width: 500px;
  height: 30px;
  margin: 5px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.noi-dung-phan-anh {
  width: 980px;
  height: 430px;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
}

.input-1,
.input-2,
.input-3 {
  width: 500px;
  height: 30px;
  padding-left: 5px;
  margin: 0px 0px -10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.input-4 {
  width: 500px;
  height: 100px;
  padding-left: 5px;
  padding-top: 5px;
  margin: 0px 0px -10px 5px;
  border: 1px solid gray;
  border-radius: 5px;

}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.input-5 {
  width: 100px;
  height: 30px;
  background-color: #05386b;
  border: none;
  color: #F1F1F1;
  margin-left: 5px;
  cursor: pointer;
}


.label-7 {
  width: 200px;
  display: inline-block;
  background-color: #379683;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: -5px 0 5px 5px;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}